$dark-back-color: #245941;
$back-color: #f2ffee;

$fore-color: #3ca777;
$dark-fore-color: #001a0f;

$alternative-color: #2c784e;
$dark-alternative-color: #175d22;
$hover-color: #f8ffcb;

$error-color: rgb(157, 21, 21);
$new-message-color: #6262c6;

$hp-color: #b84141;
$mana-color: #4151b8;
$id-color: #41b84b;

$player-name-color: #41b8ae;
$player-class-name-color: #d3994d;

$enable-color: #4eb661;
$hover-enable-color: #338542;

$hover-disable-color: #96df9b;
$disable-color: #bfecc2;

$card-value-color: $mana-color;

$message-user-color: $card-value-color;

$range-back-color: $disable-color;

$string-input-back-color: $disable-color;
$string-input-fore-color: $enable-color;

$list-back-color: $disable-color;
$option-back-color: $enable-color;