@use '../../../scss/utils/colors' as colors;

.container {
    position: fixed;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    background: colors.$darken-background;
}

.window {
    $size: 75%;
    $offset: calc((100% - $size) / 2);

    position: fixed;
    box-sizing: border-box;
    background: colors.$back-color;

    width: $size;
    min-height: $size;

    top: $offset;
    left: $offset;
}

.content {
    $padding: 1.5rem;
    padding: $padding;
}

.title-bar {
    $padding: 0.75rem;

    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    padding: $padding;
    
    background-color: colors.$dark-back-color;
    align-items: center;
}

.title {
    color: colors.$back-color;
    font-size: 1.5rem;
    text-align: left;
}

.buttons {

}

.exit {
    $size: 2.85rem;

    filter: hue-rotate(-140deg) brightness(0.8) saturate(2);
    width: $size;
    height: $size;

    font-size: 1.5rem;
    padding: 0.1rem;
    align-content: center;
}