@use '../../../scss/utils/colors' as colors;
@use '../../../scss/utils/sizes' as sizes;

$content-padding: 1rem;

@function offset($value) {
    @return calc((100% - $value) / 2);
}

@mixin size($height: 75%, $width: $height) {
    $top-offset: offset($height);
    $left-offset: offset($width);

    width: $width;
    min-height: $height;

    top: $top-offset;
    left: $left-offset;
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
    background: colors.$darken-background;
}

.window {
    @include size(75%, 50%);

    @media (max-width: sizes.$tablet-width) {
        @include size(75%);
    }

    @media (max-width: sizes.$large-phone-width) {
        @include size(80%, 95%);
    }

    & {
        position: absolute;
        box-sizing: border-box;
        background: colors.$back-color;

        display: grid;
        grid-template-rows: auto 1fr auto;
    }
}

.content {
    margin: $content-padding calc($content-padding / 2);
    overflow: auto;

    &>* {
        margin: 0.25rem;
    }
}

.title-bar {
    $padding: 0.75rem;

    display: grid;
    grid-template-columns: 1fr auto;

    width: 100%;
    padding: $padding;

    background-color: colors.$dark-back-color;
    align-items: center;
}

.title {
    color: colors.$back-color;
    font-size: 1.5rem;
    text-align: left;
}

.exit {
    $size: 2.85rem;

    display: grid;
    min-width: $size;
    min-height: $size;

    filter: hue-rotate(-140deg) brightness(0.8) saturate(2);
    padding: 0.5rem;

    align-content: center;
    text-align: center;
}

%submit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: space-around;
    margin: 0 calc($content-padding / 2);
    margin-bottom: calc($content-padding / 5);
}

.submit-two {
    @extend %submit;
}

.submit-one {
    @extend %submit;
    grid-template-columns: 1fr;
}

.component {
    &-title {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    &-grid {
        display: grid;
        gap: 1rem;
    }
}