@use "./utils/colors" as colors;
@use './utils/placeholders' as placeholders;
@use './utils/sizes' as sizes;

@font-face {
    font-family: "Pixy";
    src: url('/font/PIXY.otf');
}

* {
    font-family: 'Pixy'!important;
    box-sizing: border-box;
}

* {
    scrollbar-color: colors.$alternative-color colors.$back-color;
    scrollbar-width: thin;
    
    &::-webkit-scrollbar-track {
        background: colors.$back-color;
    }

    &::-webkit-scrollbar-thumb {
        background: colors.$alternative-color;
        border-radius: 0;
    }
}

body, html {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100vh;
}

body {
    background: colors.$back-color;
}

main {
    display: grid;
    grid-template-columns: 3fr 12fr 5fr;

    @media (max-width: sizes.$large-phone-width) {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto auto 1fr;

        & > * {
            border-bottom: 4px solid colors.$dark-alternative-color;
            margin-bottom: 10px;
            padding-bottom: 6px;
        }
    }
}

#root {
    height: 100%;

    & > main {
        height: 90.65%;
    }
}